html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo.vite:hover {
    filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafb);
}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    height: 100%;
    color: #0f0f0f;
    background-color: #f6f6f6;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.titleRow {
    display: flex;
    height: 10vh;
    max-width: 100vw;
    word-wrap: normal;
    transition:
        padding 4s ease-in-out,
        font-size 4s ease-in-out;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.titleRow.zoomed-in {
    padding-top: 45vh;
    padding-bottom: 50vh;
    font-size: 500%;
}

.titleRow.easeText {
    transition:
        text-shadow 4s ease-in-out,
        padding 4s ease-in-out,
        color 4s ease-in-out, 
        font-size 4s ease-in-out;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    text-align: center;
}

p {
    font-weight: 500;
    font-family: inherit;
    font-size: 2em;
}

input,
button {
    flex: 1;
    margin: 0%;
    height: 100%;
    border: 1px solid transparent;
    padding: flex flex;
    font-size: max(min(5vw, 5vh), 20px);
    
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    transition: 
        border-color 0.25s ease-in-out;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    transition: text-shadow 50ms ease-in-out;
    cursor: pointer;
}

input,
button {
    outline: none;
}

#greet-input {
    margin-right: 5px;
}

.darkTheme{
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #ffffff;
        background-color: #2f2f2f;
    }
    button:active {
        background-color: #0f0f0f69;
    }

    button:hover {
        border-color: white;
        border-radius: 2px;
        text-shadow:
            0px 0px 10px white,
            0px 0px 20px white,
            0px 0px 30px white,
            0px 0px 40px white;
    }
    button:active {
        border-inline: 2px;
        text-shadow:
            0px 0px 10px white,
            0px 0px 15px white,
            0px 0px 20px white,
            0px 0px 25px white;
    }
    .titleRow.brightText {
        text-shadow:
            0px 0px 200px white,
            0px 0px 175px white,
            0px 0px 150px white,
            0px 0px 125px white,
            0px 0px 100px white,
            0px 0px 75px white,
            0px 0px 50px white,
            0px 0px 25px white;

    }
    .titleRow {
        background: #1c1c1c;
        text-shadow: 0px 0px 50px white;
        border: 1px white solid;

    }
    .titleRow h1 {
        color: white;
    }
    input,
    button {
        text-shadow:
        0px 0px 10px white,
        0px 0px 20px white,
        0px 0px 30px white;
    }
}

.lightTheme {
    :root {
        color: #2f2f2f;
        background-color: #ffffff;
    }

    a:hover {
        color: #24c8db;
    }

    input,
    button {
        color: #2f2f2f;
        background-color: #ffffff98;
        border-color: #dddddd;
    }
    button:active {
        background-color: #0f0f0f69;
    }

    button:hover {
        border-color: black;
        border-radius: 2px;
        text-shadow:
            0px 0px 10px black,
            0px 0px 20px black,
            0px 0px 30px black,
            0px 0px 40px black;
    }
    button:active {
        border-inline: 2px;
        text-shadow:
            0px 0px 10px black,
            0px 0px 15px black,
            0px 0px 20px black,
            0px 0px 25px black;
    }
    .titleRow.brightText {
        text-shadow:
            /* duplicate the text shadow here because black doesn't show up as well */
            0px 0px 200px black,
            0px 0px 175px black,
            0px 0px 150px black,
            0px 0px 125px black,
            0px 0px 100px black,
            0px 0px 75px black,
            0px 0px 50px black,
            0px 0px 25px black;

    }
    .titleRow {
        background: #ffffff;
        text-shadow: 0px 0px 50px black;
        border: 1px black solid;
    }
    input,
    button {
        text-shadow:
        0px 0px 10px black,
        0px 0px 20px black,
        0px 0px 30px black;
    }
}
